<p id="notify">Now calling... Wait a minutes.</p>


<script type="text/javascript">
  $(function(){

    // `call`を実行
    $.ajax({
      type: "POST",
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      url: "/call",
      data: { tel: '<%= j params[:tel] %>' },
      success: function(data){
        // console.log('call done')
      },
    })

    // 一定時間ごとに`current_user.finish_question?`しているか確認
    // 終了していれば`/finish`ページヘ遷移
    var interval_count = 0;
    var timer_id = setInterval(function(){
      interval_count += 1
      if (interval_count > 200) {
        clearInterval(timer_id);
      }

      $.ajax({
        type: "GET",
        url: "/check",
        success: function(data){
          // console.log(data)
          if (data.finish) {
            $('#notify').text('ポチベルがあなたにマッチした宿泊施設を見つけました。自動的にページ遷移します。。。')
            location.replace('/finish')
          }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown){
          // console.log(XMLHttpRequest, textStatus, errorThrown);
          // alert(errorThrown);
        }
      })
    }, 1 * 1000)
  })
  // TEL終了までreload
</script>
